
extends layout

include includes/mixins

block content
    include includes/navbar

    .container
        .row
            .col-lg-8.col-lg-push-2
                h1= title
                unless isArchive
                    p На цій сторінці ви можете переглянути події міста #{city}
                else
                    p 
                        | На цій сторінці ви можете переглянути події, що 
                        | відбулися в місті #{city}

                if events.length > 0
                    each ev in events
                        h3: a(href=ev.url)= ev.name
                        p= ev.description
                        p
                            strong Дата
                            = ' '
                            + displayDate(ev)

                            //- TODO: display date in proper format

                        .tags
                            h5: strong Теги
                            = ev.tags.join(', ')
                else
                    .well
                        unless isArchive
                            | Поки немає нових подій для міста #{city}
                        else
                            | Поки немає старих подій для міста #{city}

            .col-lg-2.col-lg-push-2
                unless isArchive
                    a(href=originalUrl + '/архів') Архів подій
                else
                    a(href=noArchiveUrl) Нові події
