
extends layout

include includes/mixins

block content
    include includes/navbar

    .container
        .row
            .col-lg-8.col-lg-push-2
                h1= title
                p На цій сторінці ви можете переглянути події міста #{city}

                if events.length > 0
                    each ev in events
                        h3: a(href=ev.url)= ev.name
                        p= ev.description
                        p
                            strong Дата
                            = ' '
                            + displayDate(ev)

                            //- TODO: display date in proper format

                        .tags
                            h5: strong Теги
                            = ev.tags.join(', ')
                else
                    .well
                        | Поки немає нових подій для міста #{city}
