
extends layout

include includes/mixins

block content
    include includes/navbar

    .back-button
        a(href=backUrl, title=backUrlTitle)
            img(src="/go-back.png")

    .container
        .row
            .col-lg-8.col-lg-push-2
                h1= title

                if (ev.image)
                    //- Sorry, a bit of kludging
                    != '<div class="row">'
                    .col-lg-4
                        a(href=ev.image, class="thumbnail lightbox")
                            img(src=ev.image, alt=ev.name, class='img-responsive')
                    != '<div class="col-lg-8">'

                p= ev.description
                
                if ev.address
                    p
                        strong Адреса
                        = ' ' + ev.address
                    
                p
                    strong Дата
                    = ' '
                    + displayDate(ev)

                    //- TODO: display date in proper format
                if ev.tags
                    .tags
                        strong Теги
                        = ' ' + ev.tags.join(', ')

                - if (ev.source)
                    .source
                        strong Джерело
                        = ' '
                        a(href=ev.source, rel='nofollow')= ev.source

                if (ev.image)
                    //- Closing .col-lg-9 and .row
                    != '</div></div>'

//- TODO: notify when event has already passed (e.g. when somebody came from
//- search engine) - do this after a day passed, also notify when event already
//- started
//- TODO: when clicking on the image that appeared on colorbox it should close
